@model FootballLeague.Data.Entities.Player

@{
    ViewData["Title"] = "Details";
}

<div class="shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">
    <h3>Player Details</h3>
    <hr />
    <div class="row d-flex align-items-center">
        <div class="col-md-3">
            <img src="@Url.Content(Model.ImagePlayerFullPath)" alt="Image" style="width:130px;height:130px;max-width:100%;height:auto;" />
        </div>
   
        <div class="col-md-9">
            <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>        
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Position.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Club)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Club.Name)
            </dd>
        </dl>
        </div>
    
    </div>
    <div class="mt-4 btn-group">   
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Representative"))
        {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mr-2"><i class="fas fa-edit"></i> Edit</a>   
        }
        <button type="button" class="btn btn-success " onclick="history.back()">
            <i class="fas fa-chevron-left"></i> Back to List
        </button>
       @*  <a asp-action="Index" class="btn btn-success"><i class="fas fa-chevron-left"></i> Back to List</a>    *@
    </div>
</div>