@model IEnumerable<FootballLeague.Data.Entities.Player>

@{
    ViewData["Title"] = "Team";
}

<div class="shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading row">
                    <h3 class="col panel-title">Players</h3>
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Representative"))
                    {
                        <p class="col">
                            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-save"></i> Create New</a>
                        </p>
                     }
                    
                </div>
                <div class="panel-body table-responsive">
                    @if (Model != null && Model.Any())
                    {
                        <table class="table table-hover table-striped" id="TableTeam">
                            <thead>
                                <tr>
                                    <th class="align-middle py-1">
                                        @Html.DisplayNameFor(model => model.ImageId)
                                    </th>
                                    <th class="align-middle py-1">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th class="align-middle py-1">
                                        @Html.DisplayNameFor(model => model.Position)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle py-1">
                                            <img src="@Url.Content(item.ImagePlayerFullPath)" alt="Image" style="width:40px;height:40px;max-width:100%;height:auto;" />
                                        </td>
                                        <td class="align-middle py-1">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="align-middle py-1">
                                            @Html.DisplayFor(modelItem => item.Position.Name)
                                        </td>
                                        <td class="align-middle py-1">
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-list"></i></a>
                                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Representative"))
                                            {
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                                            }
                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>@ViewBag.Message </p>                       
                    }

                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
            $('#TableTeam').DataTable();
		});
	</script>
}

