@model FootballLeague.Data.Entities.Club

@{
    ViewData["Title"] = "Details";
}

<h1>Club Details</h1>
<hr />
<div class="row mt-3">
    <div class="col-md-5">		
		<dl class="row">
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-sm-8">
				@Html.DisplayFor(model => model.Name)				
			</dd>			
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Stadium)
			</dt>
			<dd class="col-sm-8">
				@Html.DisplayFor(model => model.Stadium)
			</dd>
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.Capacity)
			</dt>
			<dd class="col-sm-8">
				@Html.DisplayFor(model => model.Capacity)
			</dd>
			<dt class="col-sm-4">
				@Html.DisplayNameFor(model => model.HeadCoach)
			</dt>
			<dd class="col-sm-8">
				@Html.DisplayFor(model => model.HeadCoach)
			</dd>
		</dl>
    </div>
	<div class="col-md-7 align-content-md-start mt-0">
		<img src="@Url.Content(Model.ImageFullPath)" alt="Club logo" style="width:auto;height:150px;max-width:100%;max-height:auto;" />
	</div>
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
