@model IEnumerable<FootballLeague.Models.MatchViewModel>

@{
    ViewData["Title"] = "Matches by Round";
}

<div class="shadow-none p-3 mb-5 bg-body-tertiary rounded bg-white">   

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading row">
                    <h3 class="col panel-title">@Model.FirstOrDefault()?.Round?.Name  <span class="ml-3"><i class="fas fa-futbol"></i> Matches </span></h3>                   
                    <div class="col align-self-end">
                        <a asp-action="Index" asp-controller="Rounds" class="btn btn-outline-primary"><i class="fas fa-chevron-left"></i> Back to Rounds</a>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    @if(this.User.Identity.IsAuthenticated && this.User.IsInRole("SportsSecretary")){
                        <table class="table mt-3 table-hover table-striped table-sm" id="TableMatchByRound">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HomeTeam)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AwayTeam)
                                    </th>
                                    <th colspan="2">
                                        Scores
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State)
                                    </th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ImagePathHomeTeam" alt="@item.HomeTeam" style="width: 35px; height: 35px;" />
                                            @Html.DisplayFor(modelItem => item.HomeTeam)
                                        </td>
                                        <td>
                                            <img src="@item.ImagePathAwayTeam" alt="@item.HomeTeam" style="width: 35px; height: 35px;" />
                                            @Html.DisplayFor(modelItem => item.AwayTeam)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HomeScore)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AwayScore)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State)
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group">
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mr-1"><i class="fas fa-list"></i></a>
                                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("SportsSecretary"))
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-1"><i class="fas fa-edit"></i></a>
                                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mr-1"><i class="fas fa-trash"></i></a>
                                                }
                                                <a asp-action="Index" asp-controller="Incidents" asp-route-id="@item.Id" class="btn btn-success mr-1"><i class="fas fa-indent"></i> Incidents</a>

                                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("SportsSecretary"))
                                                {
                                                    <a asp-action="UpdateScore" asp-controller="Matches" asp-route-id="@item.Id" class="btn btn-outline-success mr-1"><i class="fas fa-futbol"></i> Add Scores</a>
                                                    <a asp-action="Create" asp-controller="Incidents" asp-route-id="@item.Id" class="btn btn-outline-success">Add Incident</a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else {
                        <table class="table table-hover table-striped mt-3" id="TableMatchByRound">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HomeTeam)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AwayTeam)
                                    </th>
                                    <th colspan="2">
                                        Scores
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State)
                                    </th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ImagePathHomeTeam" alt="@item.HomeTeam" style="width: 35px; height: 35px;" />
                                            @Html.DisplayFor(modelItem => item.HomeTeam)
                                        </td>
                                        <td>
                                            <img src="@item.ImagePathAwayTeam" alt="@item.HomeTeam" style="width: 35px; height: 35px;" />
                                            @Html.DisplayFor(modelItem => item.AwayTeam)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HomeScore)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AwayScore)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State)
                                        </td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mr-1"><i class="fas fa-list"></i></a>
                                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("SportsSecretary"))
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning mr-1"><i class="fas fa-edit"></i></a>
                                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mr-1"><i class="fas fa-trash"></i></a>
                                                }
                                                <a asp-action="Index" asp-controller="Incidents" asp-route-id="@item.Id" class="btn btn-success mr-1"><i class="fas fa-indent"></i> Incidents</a>

                                                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("SportsSecretary"))
                                                {
                                                    <a asp-action="UpdateScore" asp-controller="Matches" asp-route-id="@item.Id" class="btn btn-outline-success mr-1"><i class="fas fa-futbol"></i> Add Scores</a>
                                                    <a asp-action="Create" asp-controller="Incidents" asp-route-id="@item.Id" class="btn btn-outline-success">Add Incident</a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TableMatchByRound').DataTable();
            paging: true,
                searching: true,
                    ordering: true,
        });
    </script>
}
