@model FootballLeague.Models.DashboardViewModel
@{
    ViewData["Title"] = "GetStatistics";
}

<h2>Statistics</h2>

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <ejs-grid id="grid" dataSource="@Model.Statistics" allowPaging="true" allowSorting="true">
        <e-grid-pagesettings pageSize="20"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="Position" headerText="Position" template="#positionTemplate" textAlign="Center" width="80"></e-grid-column>
            <e-grid-column headerText="Logo" template="#imageTemplate" width="50"></e-grid-column>
            <e-grid-column field="ClubName" headerText="Club Name" textAlign="Center" width="120"></e-grid-column>
            <e-grid-column field="TotalMatches" headerText="Total Matches" textAlign="Center" width="80"></e-grid-column>
            <e-grid-column field="Wins" headerText="Wins" textAlign="Center" width="60"></e-grid-column>
            <e-grid-column field="Losses" headerText="Losses" textAlign="Center" width="60"></e-grid-column>
            <e-grid-column field="Draws" headerText="Draws" textAlign="Center" width="60"></e-grid-column>
            <e-grid-column field="GoalsScored" headerText="Scored" textAlign="Center" width="70"></e-grid-column>
            <e-grid-column field="GoalsConceded" headerText="Conceded" textAlign="Center" width="70"></e-grid-column>
            <e-grid-column field="Points" headerText="Points" textAlign="Center" width="60"></e-grid-column>
            <e-grid-column field="Finished" headerText="Played" template="#finishedTemplate" textAlign="Center" width="50"></e-grid-column>
            <e-grid-column field="Scheduled" headerText="To Go" template="#scheduledTemplate" textAlign="Center" width="50"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<style>
    .image img {
        height: auto;
        width: 30px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    .e-activecolor {
        color: white;
        background-color: #62cb62;
        padding: 3px 9px;
        border-radius: 50%;
    }

    .e-activecolortogo {
        color: white;
        background-color: #bbbbbb;
        padding: 3px 9px;
        border-radius: 50%;
    }

    .e-positioncolor {
        color: white;
        background-color: #1b427a;
        padding: 3px 9px;
        border-radius: 50%;
    }
</style>

<script id="imageTemplate" type="text/x-template">
    <div class="image">
        <img src="${ImageFullPath}" alt="Logo Club" />
    </div>
</script>

<script type="text/x-jsrender" id="positionTemplate">
    ${positionNumber(Position)}
</script>

<script type="text/x-jsrender" id="finishedTemplate">
    ${finishedMatch(Finished)}
</script>

<script type="text/x-jsrender" id="scheduledTemplate">
    ${toGoMatch(Scheduled)}
</script>

<script type="text/javascript">

    function positionNumber(statusText) {
        var span = document.createElement('span');

        span.className = 'e-positioncolor';

        span.textContent = statusText;

        return span.outerHTML;
    }

    function finishedMatch(statusText) {
        var span = document.createElement('span');

        span.className = 'e-activecolor';


        span.textContent = statusText;

        return span.outerHTML;
    }

    function toGoMatch(statusText) {
        var span = document.createElement('span');

        span.className = 'e-activecolortogo';


        span.textContent = statusText;

        return span.outerHTML;
    }

</script>



@* <table class="table table-striped table-sm small mt-3">
    <thead>
        <tr>
            <th></th>
            <th>Club Name</th>
            <th class="text-center">Total Matches</th>
            <th class="text-center">Wins</th>
            <th class="text-center">Losses</th>
            <th class="text-center">Draws</th>
            <th class="text-center">Scored</th>
            <th class="text-center">Conceded</th>
            <th class="text-center">Points</th>
            <th class="text-center">Played</th>
            <th class="text-center">To go</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stat in Model.Statistics)
        {
            <tr>
                <td class="align-middle">@stat.Position</td>
                <td class="align-middle"><img src="@Url.Content(stat.ImageFullPath)" alt="Club logo" style="width:35px;height:auto;max-width:100%;max-height:auto;" /> @stat.ClubName</td>
                <td class="align-middle text-center">@stat.TotalMatches</td>
                <td class="align-middle text-center">@stat.Wins</td>
                <td class="align-middle text-center">@stat.Losses</td>
                <td class="align-middle text-center">@stat.Draws</td>
                <td class="align-middle text-center">@stat.GoalsScored</td>
                <td class="align-middle text-center">@stat.GoalsConceded</td>
                <td class="align-middle text-center">@stat.Points</td>
                <td class="align-middle text-center">@stat.Finished</td>
                <td class="align-middle text-center">@stat.Scheduled</td>
            </tr>
        }
    </tbody>
</table> *@

